<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
  </configSections>
  <log4net>
    <!--<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\Users\pberglund.BEST\Desktop\testforlogging.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>-->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=MARVIN;Initial Catalog=Logging;Integrated Security=True"/>
      <commandText value="INSERT INTO [Logging].[dbo].[MovieLog] ([Date],[Thread],[Level],[Logger],[Message],[Category])VALUES(@log_date, @thread, @log_level, @logger, @message, @Category,)"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawUtcTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <!--Custom Logging Properties-->
      <parameter>
        <parameterName value="@Category "/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Category}"/>
        </layout>
      </parameter>
      <!--<parameter>
        <parameterName value="@RequestContextID " />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{RequestContextID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@SessionID " />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{SessionID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@MessageID " />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{MessageID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@TraceStep " />
        <dbType value="Int32" />
        <size value="255" />
        <param name="Layout" type="log4net.Layout.RawPropertyLayout">
          <param name="Key" value="TraceStep" />
        </param>
      </parameter>
      <parameter>
        <parameterName value="@TraceStepKey " />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{TraceStepKey}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@MessageData " />
        <dbType value="String" />
        <size value="80000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{MessageData}" />
        </layout>
      </parameter>-->
    </appender>
    <root>
      <level value="ALL"/>
      <!--<appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />-->
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
</configuration>