<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
   <add name="MovieCollectionEntities" connectionString="metadata=res://*/Movie.csdl|res://*/Movie.ssdl|res://*/Movie.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARVIN;initial catalog=MovieCollection;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>